{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div class="col-sm-2 centered">
        <center>
            {% if object.image and admin.isGranted('VIEW', object.image) %}
                {% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
                    <a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid }) }}">{% thumbnail object.image, 'admin' with {'width': 90} %}</a>
                {% else %}
                    {% thumbnail object.image, 'admin' with {'width': 90} %}
                {% endif %}
            {% else %}
                <i class="fa fa-chain-broken fa-3x"></i>
            {% endif %}
        </center>
    </div>
    <div class="col-sm-10">
        {% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
            <a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid }) }}"><strong>{{ object.name }}</strong></a>
        {% else %}
            <strong>{{ object.name }}</strong>
        {% endif %}
        <br />

        {{ object.issue }}

        <br />
        {% if object.collection %}
            {{ object.collection.name }}
        {% endif %}

        {% if object.collection and object.tags|length > 0 %}
            ~
        {% endif %}

        {% for tag in object.tags %}
            {{ tag.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </div>
{% endblock %}
